body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display-container{
    background-image: url("https://getwallpapers.com/wallpaper/full/1/d/9/1006788-textured-wallpaper-backgrounds-2560x1600-for-desktop.jpg")

}
input[type="submit" i] {
    border-radius: 12 px;
    background-color: rgb(43, 153, 226);
    color: white;
    text-align: center;
    border-width: 1px;
}

.button, #add-to-library{
    border-radius: 50%;
    background-color: rgb(43, 153, 226);
    color: white;
    border-width: 1px;
}
.button, #favorite{
    border-radius: 50%;
    background-color: rgb(43, 153, 226);
    color:rgb(255, 198, 208);
    border-width: 1px ;

}


.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }

.flex-container > div {
    background-color: #f3f3f1;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
  }


